//- Created by wujx on 2016/6/12.

.footer
    // 关于我们
    .about
        a.link-gray(href='javascript:;' target='_blank') 关于
        span.cut-off |
        a.link-gray(href='javascript:;' target='_blank') 帮助中心
        span.cut-off |
        a.link-gray(href='javascript:;' target='_blank') 加入我们
        span.cut-off |
        a.link-gray(href='javascript:;' target='_blank') 联系我们
    // 版权信息
    .about
        span.num Copyright&copy;2009-2016&nbsp;ISShop all rights reserved&nbsp;&nbsp;
        span ISShop&nbsp;版权所有
