//- Created by wujx on 2016/6/12.
.header
    // 登陆信息
    .top-nav-wrap
        .top-nav
            span.login-info#spLogin(style='display:none;') 您好，
                span.login-name#spLoginName
                span.cut-off |
                a.link-white(href='/help/help_center.html') 帮助中心
                span.cut-off |
                a.link-white(href='/index.html') 返回首页
                span.cut-off |
                a.link-white(href='javascript:;') 退出
            span.login-info#spUnLogin
                a.link-white(href='/help/help_center.html') 帮助中心
                span.cut-off |
                a.link-white(href='/index.html') 返回首页
                span.cut-off |
                a.link-white(href='/register/reg_index.html') 注册