extends ../template/base
block title
    title 登录--天付宝

block links
    link(href='/login/css/index.css',rel='stylesheet',type='text/css')

block content
    include ../includes/header

block append scripts
    script(type='text/javascript',src='login/js/index.js')