extends ../template/base
block title
    title 登录

block links
    link(href='/login/css/login.css',rel='stylesheet',type='text/css')

block content
    include ../includes/header
    .content
        h3 注册
        form#formRegisterUser
            input(type='text',name='name',placeholder='姓名')
            input(type='text',name='login_id',placeholder='账户')
            input(type='text',name='login_pwd',placeholder='密码')
        button#btnRegisterUser 注册
        h3 登录
        form#formLogin
            input(type='text',name='login_id',placeholder='请输入账户')
            input(type='password',name='login_pwd',placeholder='请输入密码')
        button#btnLogin 登录
        button#btnLogout 注销
        h3 用户信息查询
        form#formQueryUser
            input(type='text',name='uid',placeholder='编码')
            input(type='text',name='name',placeholder='姓名')
            input(type='text',name='login_id',placeholder='账户')
        button#btnQueryUser 查询
        h3 插入用户信息
        form#formAddUser
            input(type='text',name='name',placeholder='姓名')
            input(type='text',name='login_id',placeholder='账户')
            input(type='text',name='login_pwd',placeholder='密码')
        button#btnAddUser 添加用户
        h3 删除用户
        form#formDeleteUser
            input(type='text',name='uid',placeholder='编码')
        button#btnDeleteUser 删除用户
        h3 更新用户
        form#formUpdateUser
            input(type='text',name='uid',placeholder='编码')
            input(type='text',name='name',placeholder='姓名')
            input(type='text',name='login_id',placeholder='账户')
            input(type='text',name='login_pwd',placeholder='密码')
        button#btnUpdateUser 更新用户
block scripts
    script(type='text/javascript',src='/scripts/lib/require.min.js',data-main='/login/js/login.js')