extends ../template/base
block title
    title 七鱼客服测试

block links
    link(href='css/qiyukf.css',rel='stylesheet',type='text/css')

block content

block scripts
    //script(type='text/javascript',src='/scripts/lib/require.min.js',data-main='js/index.js')
    script(type='text/javascript',src="https://qiyukf.com/script/2faccdab05a9a2314e5ab1dfe0e46fe5.js",defer,async)